@import '../../styles/mixins/flex.scss';
@import '../../styles/mixins/media.scss';

.info,
.left,
.cell,
.table {
  @include flex(row, center, space-between, nowrap);
}

.info {
  background-color: rgba(103, 77, 246, 0.4);
  margin-bottom: 40px;
  padding: 6px 10px;
}

.cell {
  padding: 5px 28px;
  font-weight: bold;
  font-size: 15px;
  color: var(--grey);

  &:first-child {
    border-right: 2px solid #fff;
  }

  &_img {
    margin-right: 5px;
    img {
      height: 24px;
    }
  }
}

.table_cell {
  font-size: 14px;
  letter-spacing: -0.531474px;
  color: var(--grey);
  span {
    color: var(--orange);
  }
  margin-right: 20px;
}

.right {
  overflow: hidden;
  flex-grow: 1;
}
// бегущая строка
@keyframes scroll {
  0% {
    transform: translate(100%, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}

.marquee {
  width: 100%;
  white-space: nowrap;
  animation: scroll 15s infinite linear forwards;
  @include b(tablet) {
    width: 750px;
  }
  &:hover {
    animation-play-state: paused;
  }
}

.metamask_link {
  border-radius: 12px;
  background: var(--gradient);
  padding: 2px;
  cursor: pointer;

  &__inner {
    @include flex(row, center, space-between, nowrap);
    font-size: 16px;
    font-weight: 700;
    border-radius: 12px;
    background-color: #312374;
    padding: 6px 17px;
    &_img {
      margin-right: 10px;
    }
  }
}
