@import '../../../styles/mixins/flex.scss';

.contract_details {
  @include flex(row, center);
}

.contract_detail {
  cursor: pointer;
  margin-right: 5px;
  &.disable {
    img {
      cursor: not-allowed;
      filter: brightness(40%);
    }
  }

  &:last-child {
    margin-right: 0;
  }
}
