@import '../../../styles/mixins/container.scss';
@import '../../../styles/mixins/flex.scss';
@import '../../../styles/mixins/gradient-text.scss';
@import '../../../styles/mixins/media.scss';

.container {
  @include container(1390px);
  @include flex(row, center, flex-start);
  height: 100vh;
  @include b(extramobile) {
    padding: 20px 10px 40px 10px;
    height: auto;
  }
}

.block {
  background: var(--gradient-background);
  @include b(extramobile) {
    background: none;
  }
}
.bg_wrap {
  background: url('../../../assets/img/sections/main/bg-main.svg') no-repeat right top;
  background-size: contain;
  @include b(tablet) {
    background: none;
  }
}

.title {
  @include gradient-text;
  font-size: 50px;
  line-height: 1.2;
  margin-bottom: 30px;

  @include b(mobile) {
    font-size: 36px;
  }
  @include b(extramobile) {
    font-size: 25px;
  }
}

.subtitle {
  font-size: 20px;
  line-height: 1.5;
  max-width: 500px;
  margin-bottom: 30px;
  span {
    @include gradient-text;
    padding-right: 1px;
  }
  @include b(extramobile) {
    max-width: 100%;
    font-size: 16px;
    font-weight: 400;
  }
}

.buttons {
  display: flex;
}

.header_mob {
  display: none;
  &__title {
    font-size: 17px;
    margin-left: 5px;
    span {
      color: var(--blue);
    }
  }
  @include b(extramobile) {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 13px 0;
  }
}
