@import '../../styles/mixins/media.scss';
@import '../../styles/mixins/flex.scss';

.header {
  padding: 15px;
  display: none;
  @include b(tablet) {
    @include flex(row, center, space-between);
  }
}

.logo {
  @include flex(row, center, center);
  &_logo {
    height: 23px;
  }
  &_text {
    margin-left: 8px;
    font-size: 18px;
    span {
      color: var(--blue);
    }
  }
}
