@import '../../../styles/mixins/flex.scss';
@import '../../../styles/mixins/grid.scss';
@import '../../../styles/mixins/gradient-text.scss';
@import '../../../styles/mixins/media.scss';

.table {
}

.table_header {
  height: 80px;
  background-color: #2b1b64;

  &__bg {
    width: 100%;
    height: 100%;
    @include flex(row, center, center);
    background: url('../../../assets/img/sections/board-page/bg-vector-1.svg');
    background-size: cover;

    &.sushi {
      background: url('../../../assets/img/sections/board-page/bg-vector-2.svg');
      background-size: cover;
    }
  }

  &__icon {
    @include flex(row, center, center);
    &_img {
      img {
        height: 48px;
        width: 48px;
      }

      margin-right: 22px;
    }
    &_text {
      span {
        font-size: 30px;
        font-weight: 700;
        @include gradient-text;
      }
    }
  }
}

.table_body {
  background: linear-gradient(90deg, #161126 0%, #1c0e40 100%);
  padding: 20px;
  @include grid(repeat(2, 1fr), 1fr, 10px);
  @include b(extramobile) {
    background: none;
    padding: 10px;
  }

  &__item {
    background-color: rgba(103, 77, 246, 0.21);
    padding: 10px 10px 10px 25px;
    @include flex(row, center, space-between);
    @include b(extramobile) {
      padding: 10px;
      font-weight: 400;
    }

    &_left__token {
      margin-bottom: 6px;
    }
  }
}

.empty_cell {
  background-color: rgba(103, 77, 246, 0.21);
  box-shadow: 0 -200px 100px -120px #120b29 inset;
  animation: background 3s infinite alternate;
  height: 54px;
}

@keyframes background {
  50% {
    background: #120b29;
    box-shadow: 0 -200px 100px -100px rgba(103, 77, 246, 0.21) inset;
  }
}
