.input {
  width: 100%;
  position: relative;
  &_img {
    position: absolute;
    top: 7px;
    left: 24px;
    img {
      height: 24px;
      width: 24px;
    }
  }
  input {
    box-sizing: border-box;
    color: var(--input-color);
    font-size: 15px;
    padding: 9px 20px 9px 55px;
    width: 100%;
    border: 1px solid var(--blue);
    border-radius: 1px;
    background-color: transparent;
    letter-spacing: 0.035em;
    &::placeholder {
      color: var(--blue);
    }
  }

  &.big {
    input {
      padding: 20px 20px 20px 55px;
    }
    .input_img {
      top: 17px;
    }
  }
}
