.table_header {
  background-color: #201346;
  padding: 10px 12px;
  display: flex;
  justify-content: space-between;
  &__title {
    color: #ff7143;
    font-weight: 500;
    font-size: 14px;
  }
}
