@import '../../../../styles/mixins/gradient-text.scss';

.block {
  &_inner {
    text-align: center;
  }
}

.title {
  font-weight: bold;
  font-size: 20px;
}

.votes {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  align-items: flex-end;
  gap: 10px;
}

.vote {
  display: flex;
  flex-direction: column;
  align-items: center;
  &_img {
    margin-bottom: 10px;
    img {
      width: 36px;
      height: 36px;
    }
  }
}

.info {
  &_count {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 10px;
    span {
      @include gradient-text();
    }
  }

  &_bar {
    height: 17px;
    width: 100%;
    background-color: #312d3a;
    position: relative;
    z-index: 2;
    &__bg {
      position: absolute;
      height: 100%;
      background: var(--gradient);
    }
  }
}
