@import '../../../../styles/mixins/flex.scss';
@import '../../../../styles/mixins/grid.scss';
@import '../../../../styles/mixins/gradient-text.scss';

.card {
  height: 100%;

  &_inner {
    height: 100%;
    // @include grid(repeat(1, 1fr), auto, 20px);
    display: grid;
    grid-template-columns: 1fr 1fr 0.5fr;
    gap: 10px;
  }

  &_sections {
    @include grid(repeat(1, 1fr), auto, 10px);
  }

  &_section {
    background: linear-gradient(7.14deg, #040404 -14.6%, #1c0e40 96.74%);
    padding: 20px;
    &__right {
      @include flex(column, flex-end);
    }

    &__info {
      @include grid(repeat(2, 1fr), auto, 35px);
    }

    &__inner {
      display: grid;
      grid-template-columns: 2fr 1fr;
      gap: 40px;
      margin-bottom: 25px;
    }
  }

  &_info {
    &__title {
      font-size: 18px;
      color: #ffffff;
      opacity: 0.5;
      margin-bottom: 10px;
      font-weight: 400;
    }
    &__value {
      font-weight: bold;
      font-size: 24px;
    }
  }

  &_copy {
    font-size: 15px;
    @include flex(row, center);
    margin-bottom: 35px;

    &__contract {
      @include flex(row, center);
      margin-right: 45px;
    }
    &__adress {
      position: relative;
      cursor: pointer;

      &::after {
        content: '';
        position: absolute;
        height: 24px;
        width: 24px;
        top: -5px;
        right: -26px;
        background: url('../../../../assets/img/icons/copy.svg') 0 0 no-repeat;
      }
    }
    span {
      margin-right: 5px;
      color: #8b859a;
    }
  }

  // trade button
  &_trade {
    cursor: pointer;
    background: linear-gradient(90deg, #6f45ff 0%, #ff6365 100%);
    border-radius: 2px;
    font-size: 26px;
    padding: 16px 50px;
    text-align: center;
  }
  // bot button
  &_bot {
    cursor: pointer;
    background: #674df6;
    border-radius: 2px;
    padding: 10px 50px;
    font-size: 16px;
  }

  // fav and share buttons
  &_buttons {
    @include flex(row, center, normal, nowrap);
    margin-bottom: 20px;
  }
  &_button {
    @include flex(row, center, center);
    background: linear-gradient(90deg, #6f45ff 0%, #ff6365 100%);
    height: 48px;
    width: 48px;
    border-radius: 12px;
    cursor: pointer;
    & + & {
      margin-left: 15px;
    }
    img {
      height: 24px;
      width: 24px;
    }
  }

  &_link {
    background: var(--gradient);
    cursor: pointer;
    padding: 10px;
    @include flex(row, center, normal, nowrap);
    font-size: 16px;
    position: relative;
    border-radius: 2px;

    &__img,
    &__title {
      position: relative;
      z-index: 10;
    }

    &__img {
      img {
        height: 18px;
        width: 18px;
      }
      margin-right: 10px;
    }

    &::after {
      content: '';
      position: absolute;
      top: 1px;
      left: 1px;
      width: calc(100% - 2px);
      height: calc(100% - 2px);
      background: #130a28;
      border-radius: 2px;
      transition: 0.4s ease;
    }

    &:hover::after {
      background: var(--gradient);
    }

    & + & {
      margin-top: 10px;
    }
  }

  &_no_data {
    height: 100%;
    font-size: 30px;
    font-weight: 500;
    @include flex(row, center, center);
  }

  &_header {
    margin-bottom: 30px;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    &__link {
      margin-right: 15px;
      cursor: pointer;
    }

    &__button {
      cursor: pointer;
      background: var(--blue);
      height: 40px;
      display: flex;
      align-items: center;
      border-radius: 2px;
      padding: 0 10px;

      &:last-child {
        background: var(--gradient);
        margin-left: 10px;
      }
    }
  }

  &_body {
    text-align: right;

    &__price {
      color: var(--green);
      font-weight: 700;
      font-size: 35px;
      margin-bottom: 10px;
    }

    &__info {
      color: var(--green);
      &.red {
        span {
          color: #bb3e3e;
        }
      }
      font-size: 18px;
      margin-bottom: 30px;
      &_percent {
        color: var(--red);
      }
    }
  }

  &_footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
  }

  &_block {
    background: rgba(255, 255, 255, 0.1);
    padding: 12px 7px;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__title {
      text-align: center;
      font-size: 14px;
      margin-bottom: 15px;
    }

    &__body {
      flex-grow: 1;
      display: flex;
      align-items: center;
    }
  }
}

// buttons
.market_cap_button {
  display: inline-block;
  padding: 8px 10px;
  border: 1px solid #ffffff;
  color: #fff;
  border-radius: 2px;
  cursor: pointer;
}

// less score
.score {
  position: relative;
  @include flex(row, center, center);
  &_info {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  &_title {
    font-size: 12px;
    margin-bottom: 10px;
  }
  &_number {
    font-size: 33px;
    font-weight: bold;
    span {
      @include gradient-text;
    }
  }
  img {
    max-width: 100%;
  }
}
