@import '../../styles/mixins/container.scss';
@import '../../styles/mixins/flex.scss';

.page {
  min-height: 100vh;
  padding-top: 100px;
  padding-bottom: 50px;
}

.container {
  @include container(1390px);
}

.info {
  margin-bottom: 25px;
  display: grid;
  grid-template-columns: 6fr 2fr;
  align-items: center;
}

// card and chart
.main {
  display: grid;
  grid-template-columns: 1fr 2.5fr;
  grid-column-gap: 20px;
}
.chart {
  height: 560px;
}

// community trust and banner
.footer {
  margin-top: 10px;
  margin-bottom: 60px;
  display: grid;
  grid-template-columns: 1fr 2.5fr;
  grid-column-gap: 20px;
}

// buttons
.buttons {
  display: inline-flex;
  border: 2px solid #5454d4;
  margin-bottom: 30px;
  border-radius: 2px;

  &_item {
    padding: 8px 10px;
    font-size: 18px;
    color: var(--grey);
    transition: 0.4s ease;
    cursor: pointer;

    &.active {
      background-color: #5454d4;
    }
  }
}
